<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Tags` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product tags` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/4 BEVEL WASHER`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/4 BEVEL WASHER`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/4 BEVEL WASHER25NWBEMALLEABLE-1/4--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/4 BEVEL WASHER`</div>
<div class="progress-msg"><b>CREATING</b> `1/4 BEVEL WASHER` `Product`</div>
<div class="progress-msg">Associate post `1/4 BEVEL WASHER` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Creating parent Product product_cat ` Washers` ...</div>
<div class="progress-msg">- Creating parent Product product_cat ` Bevel Washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/4 BEVEL WASHER` `Product` (ID: 3521)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/4 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/4 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/4 BEVEL WASHER HDG25NWBEGMALLEABLE-1/4--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/4 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `1/4 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `1/4 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/4 BEVEL WASHER HDG` `Product` (ID: 3522)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/4 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/4 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/4 BEVEL WASHER STAINLESS25NWBES304-SS-1/4--STAINLESS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/4 BEVEL WASHER STAINLESS`</div>
<div class="progress-msg"><b>CREATING</b> `1/4 BEVEL WASHER STAINLESS` `Product`</div>
<div class="progress-msg">Associate post `1/4 BEVEL WASHER STAINLESS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/4 BEVEL WASHER STAINLESS` `Product` (ID: 3523)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/4 BEVEL WASHER DOMESTIC STAINLESS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/4 BEVEL WASHER DOMESTIC STAINLESS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/4 BEVEL WASHER DOMESTIC STAINLESS25NWBES/DOM304-SS-1/4--STAINLESS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/4 BEVEL WASHER DOMESTIC STAINLESS`</div>
<div class="progress-msg"><b>CREATING</b> `1/4 BEVEL WASHER DOMESTIC STAINLESS` `Product`</div>
<div class="progress-msg">Associate post `1/4 BEVEL WASHER DOMESTIC STAINLESS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/4 BEVEL WASHER DOMESTIC STAINLESS` `Product` (ID: 3524)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `5/16 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `5/16 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5/16 BEVEL WASHER STAINLESS31NWBES304-SS-5/16--STAINLESS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `5/16 BEVEL WASHER STAINLESS`</div>
<div class="progress-msg"><b>CREATING</b> `5/16 BEVEL WASHER STAINLESS` `Product`</div>
<div class="progress-msg">Associate post `5/16 BEVEL WASHER STAINLESS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `5/16 BEVEL WASHER STAINLESS` `Product` (ID: 3525)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/8 BEVEL WASHER`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/8 BEVEL WASHER`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/8 BEVEL WASHER37NWBEMALLEABLE-5/8--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/8 BEVEL WASHER`</div>
<div class="progress-msg"><b>CREATING</b> `3/8 BEVEL WASHER` `Product`</div>
<div class="progress-msg">Associate post `3/8 BEVEL WASHER` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/8 BEVEL WASHER` `Product` (ID: 3526)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/8 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/8 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/8 BEVEL WASHER HDG37NWBEGMALLEABLE-3/8--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/8 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `3/8 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `3/8 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/8 BEVEL WASHER HDG` `Product` (ID: 3527)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/8 BEVEL WASHER DOMESTIC STAINLESS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/8 BEVEL WASHER DOMESTIC STAINLESS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/8 BEVEL WASHER DOMESTIC STAINLESS37NWBES/DOM304-SS-3/8--STAINLESS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/8 BEVEL WASHER DOMESTIC STAINLESS`</div>
<div class="progress-msg"><b>CREATING</b> `3/8 BEVEL WASHER DOMESTIC STAINLESS` `Product`</div>
<div class="progress-msg">Associate post `3/8 BEVEL WASHER DOMESTIC STAINLESS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/8 BEVEL WASHER DOMESTIC STAINLESS` `Product` (ID: 3528)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/2 BEVEL WASHER F436 HDG DOMESTIC`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/2 BEVEL WASHER F436 HDG DOMESTIC`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/2 BEVEL WASHER F436 HDG DOMESTIC50NWBEG/F436DOMF436-1/2--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/2 BEVEL WASHER F436 HDG DOMESTIC`</div>
<div class="progress-msg"><b>CREATING</b> `1/2 BEVEL WASHER F436 HDG DOMESTIC` `Product`</div>
<div class="progress-msg">Associate post `1/2 BEVEL WASHER F436 HDG DOMESTIC` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/2 BEVEL WASHER F436 HDG DOMESTIC` `Product` (ID: 3529)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/2 BEVEL WASHER`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/2 BEVEL WASHER`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/2 BEVEL WASHER50NWBEMALLEABLE-1/2--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/2 BEVEL WASHER`</div>
<div class="progress-msg"><b>CREATING</b> `1/2 BEVEL WASHER` `Product`</div>
<div class="progress-msg">Associate post `1/2 BEVEL WASHER` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/2 BEVEL WASHER` `Product` (ID: 3530)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/2 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/2 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/2 BEVEL WASHER HDG50NWBEGMALLEABLE-1/2--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/2 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `1/2 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `1/2 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/2 BEVEL WASHER HDG` `Product` (ID: 3531)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/2 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/2 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/2 BEVEL WASHER STAINLESS50NWBES304-SS-1/2--STAINLESS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/2 BEVEL WASHER STAINLESS`</div>
<div class="progress-msg"><b>CREATING</b> `1/2 BEVEL WASHER STAINLESS` `Product`</div>
<div class="progress-msg">Associate post `1/2 BEVEL WASHER STAINLESS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/2 BEVEL WASHER STAINLESS` `Product` (ID: 3532)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/2 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/2 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/2 STRUCTURAL BEVEL WASHER F436 HDG50NWBEG/F436F436-1/2--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/2 STRUCTURAL BEVEL WASHER F436 HDG`</div>
<div class="progress-msg"><b>CREATING</b> `1/2 STRUCTURAL BEVEL WASHER F436 HDG` `Product`</div>
<div class="progress-msg">Associate post `1/2 STRUCTURAL BEVEL WASHER F436 HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/2 STRUCTURAL BEVEL WASHER F436 HDG` `Product` (ID: 3533)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/2 STRUCTURAL BEVEL WASHER F436`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/2 STRUCTURAL BEVEL WASHER F436`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/2 STRUCTURAL BEVEL WASHER F43650NWBE/F436F436-1/2--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/2 STRUCTURAL BEVEL WASHER F436`</div>
<div class="progress-msg"><b>CREATING</b> `1/2 STRUCTURAL BEVEL WASHER F436` `Product`</div>
<div class="progress-msg">Associate post `1/2 STRUCTURAL BEVEL WASHER F436` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/2 STRUCTURAL BEVEL WASHER F436` `Product` (ID: 3534)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `5/8 STRUCTURAL BEVEL WASHER F436`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `5/8 STRUCTURAL BEVEL WASHER F436`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5/8 STRUCTURAL BEVEL WASHER F43662NWBE/F436F436-5/8--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `5/8 STRUCTURAL BEVEL WASHER F436`</div>
<div class="progress-msg"><b>CREATING</b> `5/8 STRUCTURAL BEVEL WASHER F436` `Product`</div>
<div class="progress-msg">Associate post `5/8 STRUCTURAL BEVEL WASHER F436` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `5/8 STRUCTURAL BEVEL WASHER F436` `Product` (ID: 3535)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `5/8 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `5/8 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5/8 STRUCTURAL BEVEL WASHER F436 HDG62NWBEG/F436F436-5/8--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `5/8 STRUCTURAL BEVEL WASHER F436 HDG`</div>
<div class="progress-msg"><b>CREATING</b> `5/8 STRUCTURAL BEVEL WASHER F436 HDG` `Product`</div>
<div class="progress-msg">Associate post `5/8 STRUCTURAL BEVEL WASHER F436 HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `5/8 STRUCTURAL BEVEL WASHER F436 HDG` `Product` (ID: 3536)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `5/8 BEVEL WASHER`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `5/8 BEVEL WASHER`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5/8 BEVEL WASHER62NWBEMALLEABLE-5/8--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `5/8 BEVEL WASHER`</div>
<div class="progress-msg"><b>CREATING</b> `5/8 BEVEL WASHER` `Product`</div>
<div class="progress-msg">Associate post `5/8 BEVEL WASHER` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `5/8 BEVEL WASHER` `Product` (ID: 3537)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `5/8 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `5/8 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5/8 BEVEL WASHER HDG62NWBEGMALLEABLE-5/8--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `5/8 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `5/8 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `5/8 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `5/8 BEVEL WASHER HDG` `Product` (ID: 3538)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `5/8 BEVEL WASHER A325 HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `5/8 BEVEL WASHER A325 HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5/8 BEVEL WASHER A325 HDG62NWBEG/A325MALLEABLE-5/8--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `5/8 BEVEL WASHER A325 HDG`</div>
<div class="progress-msg"><b>CREATING</b> `5/8 BEVEL WASHER A325 HDG` `Product`</div>
<div class="progress-msg">Associate post `5/8 BEVEL WASHER A325 HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `5/8 BEVEL WASHER A325 HDG` `Product` (ID: 3539)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/4 BEVEL WASHER F436 DOMESTIC`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/4 BEVEL WASHER F436 DOMESTIC`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/4 BEVEL WASHER F436 DOMESTIC75NWBE/F436DOMF436-3/4--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/4 BEVEL WASHER F436 DOMESTIC`</div>
<div class="progress-msg"><b>CREATING</b> `3/4 BEVEL WASHER F436 DOMESTIC` `Product`</div>
<div class="progress-msg">Associate post `3/4 BEVEL WASHER F436 DOMESTIC` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/4 BEVEL WASHER F436 DOMESTIC` `Product` (ID: 3540)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/4 BEVEL WASHER F436 DOMESTIC HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/4 BEVEL WASHER F436 DOMESTIC HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/4 BEVEL WASHER F436 DOMESTIC HDG75NWBEG/F436DOMF436-3/4--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/4 BEVEL WASHER F436 DOMESTIC HDG`</div>
<div class="progress-msg"><b>CREATING</b> `3/4 BEVEL WASHER F436 DOMESTIC HDG` `Product`</div>
<div class="progress-msg">Associate post `3/4 BEVEL WASHER F436 DOMESTIC HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/4 BEVEL WASHER F436 DOMESTIC HDG` `Product` (ID: 3541)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/4 BEVEL WASHER`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/4 BEVEL WASHER`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/4 BEVEL WASHER75NWBEMALLEABLE-3/4--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/4 BEVEL WASHER`</div>
<div class="progress-msg"><b>CREATING</b> `3/4 BEVEL WASHER` `Product`</div>
<div class="progress-msg">Associate post `3/4 BEVEL WASHER` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/4 BEVEL WASHER` `Product` (ID: 3542)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/4 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/4 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/4 BEVEL WASHER HDG75NWBEGMALLEABLE-3/4--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/4 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `3/4 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `3/4 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/4 BEVEL WASHER HDG` `Product` (ID: 3543)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #24</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/4 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/4 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/4 BEVEL WASHER STAINLESS75NWBES304-SS-3/4--STAINLESS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/4 BEVEL WASHER STAINLESS`</div>
<div class="progress-msg"><b>CREATING</b> `3/4 BEVEL WASHER STAINLESS` `Product`</div>
<div class="progress-msg">Associate post `3/4 BEVEL WASHER STAINLESS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/4 BEVEL WASHER STAINLESS` `Product` (ID: 3544)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #25</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/4 BEVEL WASHER 316-SS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/4 BEVEL WASHER 316-SS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/4 BEVEL WASHER 316-SS75NWBE3316-SS-3/4--STAINLESS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/4 BEVEL WASHER 316-SS`</div>
<div class="progress-msg"><b>CREATING</b> `3/4 BEVEL WASHER 316-SS` `Product`</div>
<div class="progress-msg">Associate post `3/4 BEVEL WASHER 316-SS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/4 BEVEL WASHER 316-SS` `Product` (ID: 3545)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #26</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/4 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/4 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/4 STRUCTURAL BEVEL WASHER F436 HDG75NWBEG/F436F436-3/4--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/4 STRUCTURAL BEVEL WASHER F436 HDG`</div>
<div class="progress-msg"><b>CREATING</b> `3/4 STRUCTURAL BEVEL WASHER F436 HDG` `Product`</div>
<div class="progress-msg">Associate post `3/4 STRUCTURAL BEVEL WASHER F436 HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/4 STRUCTURAL BEVEL WASHER F436 HDG` `Product` (ID: 3546)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #27</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/4 STRUCTURAL BEVEL WASHER F436`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/4 STRUCTURAL BEVEL WASHER F436`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/4 STRUCTURAL BEVEL WASHER F43675NWBE/F436F436-3/4--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/4 STRUCTURAL BEVEL WASHER F436`</div>
<div class="progress-msg"><b>CREATING</b> `3/4 STRUCTURAL BEVEL WASHER F436` `Product`</div>
<div class="progress-msg">Associate post `3/4 STRUCTURAL BEVEL WASHER F436` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/4 STRUCTURAL BEVEL WASHER F436` `Product` (ID: 3547)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #28</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `7/8 STRUCTURAL BEVEL WASHER F436`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `7/8 STRUCTURAL BEVEL WASHER F436`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `7/8 STRUCTURAL BEVEL WASHER F43687NWBE/F436F436-7/8--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `7/8 STRUCTURAL BEVEL WASHER F436`</div>
<div class="progress-msg"><b>CREATING</b> `7/8 STRUCTURAL BEVEL WASHER F436` `Product`</div>
<div class="progress-msg">Associate post `7/8 STRUCTURAL BEVEL WASHER F436` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `7/8 STRUCTURAL BEVEL WASHER F436` `Product` (ID: 3548)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #29</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `7/8 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `7/8 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `7/8 STRUCTURAL BEVEL WASHER F436 HDG87NWBEG/F436F436-7/8--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `7/8 STRUCTURAL BEVEL WASHER F436 HDG`</div>
<div class="progress-msg"><b>CREATING</b> `7/8 STRUCTURAL BEVEL WASHER F436 HDG` `Product`</div>
<div class="progress-msg">Associate post `7/8 STRUCTURAL BEVEL WASHER F436 HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `7/8 STRUCTURAL BEVEL WASHER F436 HDG` `Product` (ID: 3549)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #30</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `7/8 BEVEL WASHER`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `7/8 BEVEL WASHER`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `7/8 BEVEL WASHER87NWBEMALLEABLE-7/8--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `7/8 BEVEL WASHER`</div>
<div class="progress-msg"><b>CREATING</b> `7/8 BEVEL WASHER` `Product`</div>
<div class="progress-msg">Associate post `7/8 BEVEL WASHER` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `7/8 BEVEL WASHER` `Product` (ID: 3550)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #31</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `7/8 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `7/8 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `7/8 BEVEL WASHER HDG87NWBEGMALLEABLE-7/8--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `7/8 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `7/8 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `7/8 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `7/8 BEVEL WASHER HDG` `Product` (ID: 3551)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #32</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `7/8 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `7/8 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `7/8 BEVEL WASHER STAINLESS87NWBES304-SS-7/8--STAINLESS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `7/8 BEVEL WASHER STAINLESS`</div>
<div class="progress-msg"><b>CREATING</b> `7/8 BEVEL WASHER STAINLESS` `Product`</div>
<div class="progress-msg">Associate post `7/8 BEVEL WASHER STAINLESS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `7/8 BEVEL WASHER STAINLESS` `Product` (ID: 3552)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #33</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1 BEVEL WASHER STAINLESS100NWBES304-SS-1--STAINLESS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1 BEVEL WASHER STAINLESS`</div>
<div class="progress-msg"><b>CREATING</b> `1 BEVEL WASHER STAINLESS` `Product`</div>
<div class="progress-msg">Associate post `1 BEVEL WASHER STAINLESS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1 BEVEL WASHER STAINLESS` `Product` (ID: 3553)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #34</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1 BEVEL WASHER`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1 BEVEL WASHER`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1 BEVEL WASHER100NWBEMALLEABLE-1--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1 BEVEL WASHER`</div>
<div class="progress-msg"><b>CREATING</b> `1 BEVEL WASHER` `Product`</div>
<div class="progress-msg">Associate post `1 BEVEL WASHER` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1 BEVEL WASHER` `Product` (ID: 3554)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #35</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1 BEVEL WASHER HDG100NWBEGMALLEABLE-1--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `1 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `1 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1 BEVEL WASHER HDG` `Product` (ID: 3555)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #36</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1 STRUCTURAL BEVEL WASHER F436 HDG100NWBEG/F436F436-1--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1 STRUCTURAL BEVEL WASHER F436 HDG`</div>
<div class="progress-msg"><b>CREATING</b> `1 STRUCTURAL BEVEL WASHER F436 HDG` `Product`</div>
<div class="progress-msg">Associate post `1 STRUCTURAL BEVEL WASHER F436 HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1 STRUCTURAL BEVEL WASHER F436 HDG` `Product` (ID: 3556)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #37</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1-1/8 BEVEL WASHER`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1-1/8 BEVEL WASHER`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1-1/8 BEVEL WASHER112NWBEMALLEABLE-1-1/8--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1-1/8 BEVEL WASHER`</div>
<div class="progress-msg"><b>CREATING</b> `1-1/8 BEVEL WASHER` `Product`</div>
<div class="progress-msg">Associate post `1-1/8 BEVEL WASHER` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1-1/8 BEVEL WASHER` `Product` (ID: 3557)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #38</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1-1/8 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1-1/8 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1-1/8 BEVEL WASHER HDG112NWBEGMALLEABLE-1-1/8--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1-1/8 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `1-1/8 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `1-1/8 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1-1/8 BEVEL WASHER HDG` `Product` (ID: 3558)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #39</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1-1/4 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1-1/4 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1-1/4 BEVEL WASHER HDG125NWBEGMALLEABLE-1-1/4--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1-1/4 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `1-1/4 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `1-1/4 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1-1/4 BEVEL WASHER HDG` `Product` (ID: 3559)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #40</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1-1/4 BEVEL WASHER`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1-1/4 BEVEL WASHER`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1-1/4 BEVEL WASHER125NWBEMALLEABLE-1-1/4--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1-1/4 BEVEL WASHER`</div>
<div class="progress-msg"><b>CREATING</b> `1-1/4 BEVEL WASHER` `Product`</div>
<div class="progress-msg">Associate post `1-1/4 BEVEL WASHER` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1-1/4 BEVEL WASHER` `Product` (ID: 3560)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #41</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1-1/2 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1-1/2 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1-1/2 BEVEL WASHER HDG150NWBEGMALLEABLE-1-1/2--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1-1/2 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `1-1/2 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `1-1/2 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Washers`, duplicate detected. Importing Product to existing `Washers` product_cat, ID 247, slug `washers-2` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Bevel Washers`, duplicate detected. Importing Product to existing `Bevel Washers` product_cat, ID 248, slug `bevel-washers-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1-1/2 BEVEL WASHER HDG` `Product` (ID: 3561)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
