.jumbotron {
  height: 70vh;
  position: relative;
  background-position: 10% center;
  background-size: cover;
  background-attachment: fixed;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: white;
    opacity: 0.4;
  }
  .site-branding {
    h2 {
      font-family: $allerta;
      font-size: 2.5em;
      color: black;
      max-width: 540px;
      margin: 0;
      text-transform: uppercase;
    }
    .site-title {
      margin-bottom: 10px;
      min-width: 300px;
      width: 400px;
      &-home {
        width: 550px;
      }
    }
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &-product {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $off-white;
    .site-title {
      width: 350px;
      margin: 20px 0;
    }
  }
  @media screen and (max-width: 720px) {
    height: 60vh;
  }
}
