<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Woo Logo`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Woo Logo`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Woo Logo - 471 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Woo Logo`</div>
<div class="progress-msg"><b>CREATING</b> `Woo Logo` `Product`</div>
<div class="progress-msg">Associate post `Woo Logo` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fastener `, duplicate detected. Importing Product to existing `Fastener` product_cat, ID 6, slug `fastener` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Bolts`, duplicate detected. Importing Product to existing `Bolts` product_cat, ID 9, slug `bolts` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Woo Logo` `Product` (ID: 563)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Premium Quality`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Premium Quality`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Premium Quality - 472 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Premium Quality`</div>
<div class="progress-msg"><b>CREATING</b> `Premium Quality` `Product`</div>
<div class="progress-msg">Associate post `Premium Quality` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fastener`, duplicate detected. Importing Product to existing `Fastener` product_cat, ID 6, slug `fastener` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Bolts`, duplicate detected. Importing Product to existing `Bolts` product_cat, ID 9, slug `bolts` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Premium Quality` `Product` (ID: 564)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Ship Your Idea`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Ship Your Idea`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Ship Your Idea - 473 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Ship Your Idea`</div>
<div class="progress-msg"><b>CREATING</b> `Ship Your Idea` `Product`</div>
<div class="progress-msg">Associate post `Ship Your Idea` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Ship Your Idea` `Product` (ID: 565)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Ninja Silhouette`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Ninja Silhouette`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Ninja Silhouette - 474 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Ninja Silhouette`</div>
<div class="progress-msg"><b>CREATING</b> `Ninja Silhouette` `Product`</div>
<div class="progress-msg">Associate post `Ninja Silhouette` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Ninja Silhouette` `Product` (ID: 566)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Woo Ninja`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Woo Ninja`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Woo Ninja - 475 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Woo Ninja`</div>
<div class="progress-msg"><b>CREATING</b> `Woo Ninja` `Product`</div>
<div class="progress-msg">Associate post `Woo Ninja` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Woo Ninja` `Product` (ID: 567)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Happy Ninja`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Happy Ninja`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Happy Ninja - 476 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Happy Ninja`</div>
<div class="progress-msg"><b>CREATING</b> `Happy Ninja` `Product`</div>
<div class="progress-msg">Associate post `Happy Ninja` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Happy Ninja` `Product` (ID: 568)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Ship Your Idea`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Ship Your Idea`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Ship Your Idea - 477 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Ship Your Idea`</div>
<div class="progress-msg"><b>CREATING</b> `Ship Your Idea` `Product`</div>
<div class="progress-msg">Associate post `Ship Your Idea` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Ship Your Idea` `Product` (ID: 569)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Woo Ninja`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Woo Ninja`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Woo Ninja - 478 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Woo Ninja`</div>
<div class="progress-msg"><b>CREATING</b> `Woo Ninja` `Product`</div>
<div class="progress-msg">Associate post `Woo Ninja` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Woo Ninja` `Product` (ID: 570)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Patient Ninja`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Patient Ninja`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Patient Ninja - 479 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Patient Ninja`</div>
<div class="progress-msg"><b>CREATING</b> `Patient Ninja` `Product`</div>
<div class="progress-msg">Associate post `Patient Ninja` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Patient Ninja` `Product` (ID: 571)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Happy Ninja`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Happy Ninja`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Happy Ninja - 480 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Happy Ninja`</div>
<div class="progress-msg"><b>CREATING</b> `Happy Ninja` `Product`</div>
<div class="progress-msg">Associate post `Happy Ninja` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Happy Ninja` `Product` (ID: 572)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Ninja Silhouette`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Ninja Silhouette`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Ninja Silhouette - 481 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Ninja Silhouette`</div>
<div class="progress-msg"><b>CREATING</b> `Ninja Silhouette` `Product`</div>
<div class="progress-msg">Associate post `Ninja Silhouette` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Ninja Silhouette` `Product` (ID: 573)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Woo Logo`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Woo Logo`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Woo Logo - 482 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Woo Logo`</div>
<div class="progress-msg"><b>CREATING</b> `Woo Logo` `Product`</div>
<div class="progress-msg">Associate post `Woo Logo` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Woo Logo` `Product` (ID: 574)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Ship Your Idea`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Ship Your Idea`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Ship Your Idea - 483 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Ship Your Idea`</div>
<div class="progress-msg"><b>CREATING</b> `Ship Your Idea` `Product`</div>
<div class="progress-msg">Associate post `Ship Your Idea` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Ship Your Idea` `Product` (ID: 575)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Flying Ninja`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Flying Ninja`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Flying Ninja - 484 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Flying Ninja`</div>
<div class="progress-msg"><b>CREATING</b> `Flying Ninja` `Product`</div>
<div class="progress-msg">Associate post `Flying Ninja` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Flying Ninja` `Product` (ID: 576)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Premium Quality`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Premium Quality`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Premium Quality - 485 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Premium Quality`</div>
<div class="progress-msg"><b>CREATING</b> `Premium Quality` `Product`</div>
<div class="progress-msg">Associate post `Premium Quality` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Premium Quality` `Product` (ID: 577)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Woo Ninja`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Woo Ninja`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Woo Ninja - 486 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Woo Ninja`</div>
<div class="progress-msg"><b>CREATING</b> `Woo Ninja` `Product`</div>
<div class="progress-msg">Associate post `Woo Ninja` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Woo Ninja` `Product` (ID: 578)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Woo Logo`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Woo Logo`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Woo Logo - 487 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Woo Logo`</div>
<div class="progress-msg"><b>CREATING</b> `Woo Logo` `Product`</div>
<div class="progress-msg">Associate post `Woo Logo` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Woo Logo` `Product` (ID: 579)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Woo Album #1`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Woo Album #1`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Woo Album #1 - 488 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Woo Album #1`</div>
<div class="progress-msg"><b>CREATING</b> `Woo Album #1` `Product`</div>
<div class="progress-msg">Associate post `Woo Album #1` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Woo Album #1` `Product` (ID: 580)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Woo Album #2`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Woo Album #2`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Woo Album #2 - 489 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Woo Album #2`</div>
<div class="progress-msg"><b>CREATING</b> `Woo Album #2` `Product`</div>
<div class="progress-msg">Associate post `Woo Album #2` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Woo Album #2` `Product` (ID: 581)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Woo Album #3`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Woo Album #3`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Woo Album #3 - 490 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Woo Album #3`</div>
<div class="progress-msg"><b>CREATING</b> `Woo Album #3` `Product`</div>
<div class="progress-msg">Associate post `Woo Album #3` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Woo Album #3` `Product` (ID: 582)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Woo Single #1`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Woo Single #1`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Woo Single #1 - 491 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Woo Single #1`</div>
<div class="progress-msg"><b>CREATING</b> `Woo Single #1` `Product`</div>
<div class="progress-msg">Associate post `Woo Single #1` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Woo Single #1` `Product` (ID: 583)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Woo Album #4`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Woo Album #4`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Woo Album #4 - 492 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Woo Album #4`</div>
<div class="progress-msg"><b>CREATING</b> `Woo Album #4` `Product`</div>
<div class="progress-msg">Associate post `Woo Album #4` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Woo Album #4` `Product` (ID: 584)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Woo Single #2`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Woo Single #2`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Woo Single #2 - 493 - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Woo Single #2`</div>
<div class="progress-msg"><b>CREATING</b> `Woo Single #2` `Product`</div>
<div class="progress-msg">Associate post `Woo Single #2` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Woo Single #2` `Product` (ID: 585)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
