<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Tags` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product tags` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/4 BEVEL WASHER`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/4 BEVEL WASHER`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/4 BEVEL WASHERMALLEABLE-1/4--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/4 BEVEL WASHER`</div>
<div class="progress-msg"><b>CREATING</b> `1/4 BEVEL WASHER` `Product`</div>
<div class="progress-msg">Associate post `1/4 BEVEL WASHER` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Creating parent Product product_cat `BEVEL WASHERS` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/4 BEVEL WASHER` `Product` (ID: 683)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/4 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/4 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/4 BEVEL WASHER HDGMALLEABLE-1/4--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/4 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `1/4 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `1/4 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/4 BEVEL WASHER HDG` `Product` (ID: 684)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/4 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/4 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/4 BEVEL WASHER STAINLESS304-SS-1/4--STAINLESS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/4 BEVEL WASHER STAINLESS`</div>
<div class="progress-msg"><b>CREATING</b> `1/4 BEVEL WASHER STAINLESS` `Product`</div>
<div class="progress-msg">Associate post `1/4 BEVEL WASHER STAINLESS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/4 BEVEL WASHER STAINLESS` `Product` (ID: 685)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/4 BEVEL WASHER DOMESTIC STAINLESS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/4 BEVEL WASHER DOMESTIC STAINLESS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/4 BEVEL WASHER DOMESTIC STAINLESS304-SS-1/4--STAINLESS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/4 BEVEL WASHER DOMESTIC STAINLESS`</div>
<div class="progress-msg"><b>CREATING</b> `1/4 BEVEL WASHER DOMESTIC STAINLESS` `Product`</div>
<div class="progress-msg">Associate post `1/4 BEVEL WASHER DOMESTIC STAINLESS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/4 BEVEL WASHER DOMESTIC STAINLESS` `Product` (ID: 686)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `5/16 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `5/16 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5/16 BEVEL WASHER STAINLESS304-SS-5/16--STAINLESS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `5/16 BEVEL WASHER STAINLESS`</div>
<div class="progress-msg"><b>CREATING</b> `5/16 BEVEL WASHER STAINLESS` `Product`</div>
<div class="progress-msg">Associate post `5/16 BEVEL WASHER STAINLESS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `5/16 BEVEL WASHER STAINLESS` `Product` (ID: 687)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/8 BEVEL WASHER`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/8 BEVEL WASHER`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/8 BEVEL WASHERMALLEABLE-5/8--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/8 BEVEL WASHER`</div>
<div class="progress-msg"><b>CREATING</b> `3/8 BEVEL WASHER` `Product`</div>
<div class="progress-msg">Associate post `3/8 BEVEL WASHER` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/8 BEVEL WASHER` `Product` (ID: 688)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/8 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/8 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/8 BEVEL WASHER HDGMALLEABLE-3/8--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/8 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `3/8 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `3/8 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/8 BEVEL WASHER HDG` `Product` (ID: 689)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/8 BEVEL WASHER DOMESTIC STAINLESS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/8 BEVEL WASHER DOMESTIC STAINLESS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/8 BEVEL WASHER DOMESTIC STAINLESS304-SS-3/8--STAINLESS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/8 BEVEL WASHER DOMESTIC STAINLESS`</div>
<div class="progress-msg"><b>CREATING</b> `3/8 BEVEL WASHER DOMESTIC STAINLESS` `Product`</div>
<div class="progress-msg">Associate post `3/8 BEVEL WASHER DOMESTIC STAINLESS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/8 BEVEL WASHER DOMESTIC STAINLESS` `Product` (ID: 690)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/2 BEVEL WASHER F436 HDG DOMESTIC`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/2 BEVEL WASHER F436 HDG DOMESTIC`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/2 BEVEL WASHER F436 HDG DOMESTICF436-1/2--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/2 BEVEL WASHER F436 HDG DOMESTIC`</div>
<div class="progress-msg"><b>CREATING</b> `1/2 BEVEL WASHER F436 HDG DOMESTIC` `Product`</div>
<div class="progress-msg">Associate post `1/2 BEVEL WASHER F436 HDG DOMESTIC` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/2 BEVEL WASHER F436 HDG DOMESTIC` `Product` (ID: 691)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/2 BEVEL WASHER`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/2 BEVEL WASHER`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/2 BEVEL WASHERMALLEABLE-1/2--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/2 BEVEL WASHER`</div>
<div class="progress-msg"><b>CREATING</b> `1/2 BEVEL WASHER` `Product`</div>
<div class="progress-msg">Associate post `1/2 BEVEL WASHER` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/2 BEVEL WASHER` `Product` (ID: 692)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/2 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/2 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/2 BEVEL WASHER HDGMALLEABLE-1/2--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/2 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `1/2 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `1/2 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/2 BEVEL WASHER HDG` `Product` (ID: 693)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/2 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/2 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/2 BEVEL WASHER STAINLESS304-SS-1/2--STAINLESS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/2 BEVEL WASHER STAINLESS`</div>
<div class="progress-msg"><b>CREATING</b> `1/2 BEVEL WASHER STAINLESS` `Product`</div>
<div class="progress-msg">Associate post `1/2 BEVEL WASHER STAINLESS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/2 BEVEL WASHER STAINLESS` `Product` (ID: 694)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/2 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/2 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/2 STRUCTURAL BEVEL WASHER F436 HDGF436-1/2--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/2 STRUCTURAL BEVEL WASHER F436 HDG`</div>
<div class="progress-msg"><b>CREATING</b> `1/2 STRUCTURAL BEVEL WASHER F436 HDG` `Product`</div>
<div class="progress-msg">Associate post `1/2 STRUCTURAL BEVEL WASHER F436 HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/2 STRUCTURAL BEVEL WASHER F436 HDG` `Product` (ID: 695)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1/2 STRUCTURAL BEVEL WASHER F436`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1/2 STRUCTURAL BEVEL WASHER F436`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1/2 STRUCTURAL BEVEL WASHER F436F436-1/2--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1/2 STRUCTURAL BEVEL WASHER F436`</div>
<div class="progress-msg"><b>CREATING</b> `1/2 STRUCTURAL BEVEL WASHER F436` `Product`</div>
<div class="progress-msg">Associate post `1/2 STRUCTURAL BEVEL WASHER F436` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1/2 STRUCTURAL BEVEL WASHER F436` `Product` (ID: 696)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `5/8 STRUCTURAL BEVEL WASHER F436`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `5/8 STRUCTURAL BEVEL WASHER F436`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5/8 STRUCTURAL BEVEL WASHER F436F436-5/8--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `5/8 STRUCTURAL BEVEL WASHER F436`</div>
<div class="progress-msg"><b>CREATING</b> `5/8 STRUCTURAL BEVEL WASHER F436` `Product`</div>
<div class="progress-msg">Associate post `5/8 STRUCTURAL BEVEL WASHER F436` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `5/8 STRUCTURAL BEVEL WASHER F436` `Product` (ID: 697)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `5/8 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `5/8 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5/8 STRUCTURAL BEVEL WASHER F436 HDGF436-5/8--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `5/8 STRUCTURAL BEVEL WASHER F436 HDG`</div>
<div class="progress-msg"><b>CREATING</b> `5/8 STRUCTURAL BEVEL WASHER F436 HDG` `Product`</div>
<div class="progress-msg">Associate post `5/8 STRUCTURAL BEVEL WASHER F436 HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `5/8 STRUCTURAL BEVEL WASHER F436 HDG` `Product` (ID: 698)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `5/8 BEVEL WASHER`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `5/8 BEVEL WASHER`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5/8 BEVEL WASHERMALLEABLE-5/8--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `5/8 BEVEL WASHER`</div>
<div class="progress-msg"><b>CREATING</b> `5/8 BEVEL WASHER` `Product`</div>
<div class="progress-msg">Associate post `5/8 BEVEL WASHER` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `5/8 BEVEL WASHER` `Product` (ID: 699)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `5/8 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `5/8 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5/8 BEVEL WASHER HDGMALLEABLE-5/8--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `5/8 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `5/8 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `5/8 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `5/8 BEVEL WASHER HDG` `Product` (ID: 700)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `5/8 BEVEL WASHER A325 HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `5/8 BEVEL WASHER A325 HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5/8 BEVEL WASHER A325 HDGMALLEABLE-5/8--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `5/8 BEVEL WASHER A325 HDG`</div>
<div class="progress-msg"><b>CREATING</b> `5/8 BEVEL WASHER A325 HDG` `Product`</div>
<div class="progress-msg">Associate post `5/8 BEVEL WASHER A325 HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `5/8 BEVEL WASHER A325 HDG` `Product` (ID: 701)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/4 BEVEL WASHER F436 DOMESTIC`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/4 BEVEL WASHER F436 DOMESTIC`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/4 BEVEL WASHER F436 DOMESTICF436-3/4--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/4 BEVEL WASHER F436 DOMESTIC`</div>
<div class="progress-msg"><b>CREATING</b> `3/4 BEVEL WASHER F436 DOMESTIC` `Product`</div>
<div class="progress-msg">Associate post `3/4 BEVEL WASHER F436 DOMESTIC` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/4 BEVEL WASHER F436 DOMESTIC` `Product` (ID: 702)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/4 BEVEL WASHER F436 DOMESTIC HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/4 BEVEL WASHER F436 DOMESTIC HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/4 BEVEL WASHER F436 DOMESTIC HDGF436-3/4--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/4 BEVEL WASHER F436 DOMESTIC HDG`</div>
<div class="progress-msg"><b>CREATING</b> `3/4 BEVEL WASHER F436 DOMESTIC HDG` `Product`</div>
<div class="progress-msg">Associate post `3/4 BEVEL WASHER F436 DOMESTIC HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/4 BEVEL WASHER F436 DOMESTIC HDG` `Product` (ID: 703)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/4 BEVEL WASHER`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/4 BEVEL WASHER`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/4 BEVEL WASHERMALLEABLE-3/4--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/4 BEVEL WASHER`</div>
<div class="progress-msg"><b>CREATING</b> `3/4 BEVEL WASHER` `Product`</div>
<div class="progress-msg">Associate post `3/4 BEVEL WASHER` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/4 BEVEL WASHER` `Product` (ID: 704)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/4 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/4 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/4 BEVEL WASHER HDGMALLEABLE-3/4--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/4 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `3/4 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `3/4 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/4 BEVEL WASHER HDG` `Product` (ID: 705)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #24</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/4 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/4 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/4 BEVEL WASHER STAINLESS304-SS-3/4--STAINLESS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/4 BEVEL WASHER STAINLESS`</div>
<div class="progress-msg"><b>CREATING</b> `3/4 BEVEL WASHER STAINLESS` `Product`</div>
<div class="progress-msg">Associate post `3/4 BEVEL WASHER STAINLESS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/4 BEVEL WASHER STAINLESS` `Product` (ID: 706)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #25</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/4 BEVEL WASHER 316-SS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/4 BEVEL WASHER 316-SS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/4 BEVEL WASHER 316-SS316-SS-3/4--STAINLESS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/4 BEVEL WASHER 316-SS`</div>
<div class="progress-msg"><b>CREATING</b> `3/4 BEVEL WASHER 316-SS` `Product`</div>
<div class="progress-msg">Associate post `3/4 BEVEL WASHER 316-SS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/4 BEVEL WASHER 316-SS` `Product` (ID: 707)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #26</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/4 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/4 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/4 STRUCTURAL BEVEL WASHER F436 HDGF436-3/4--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/4 STRUCTURAL BEVEL WASHER F436 HDG`</div>
<div class="progress-msg"><b>CREATING</b> `3/4 STRUCTURAL BEVEL WASHER F436 HDG` `Product`</div>
<div class="progress-msg">Associate post `3/4 STRUCTURAL BEVEL WASHER F436 HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/4 STRUCTURAL BEVEL WASHER F436 HDG` `Product` (ID: 708)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #27</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `3/4 STRUCTURAL BEVEL WASHER F436`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `3/4 STRUCTURAL BEVEL WASHER F436`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3/4 STRUCTURAL BEVEL WASHER F436F436-3/4--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3/4 STRUCTURAL BEVEL WASHER F436`</div>
<div class="progress-msg"><b>CREATING</b> `3/4 STRUCTURAL BEVEL WASHER F436` `Product`</div>
<div class="progress-msg">Associate post `3/4 STRUCTURAL BEVEL WASHER F436` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `3/4 STRUCTURAL BEVEL WASHER F436` `Product` (ID: 709)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #28</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `7/8 STRUCTURAL BEVEL WASHER F436`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `7/8 STRUCTURAL BEVEL WASHER F436`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `7/8 STRUCTURAL BEVEL WASHER F436F436-7/8--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `7/8 STRUCTURAL BEVEL WASHER F436`</div>
<div class="progress-msg"><b>CREATING</b> `7/8 STRUCTURAL BEVEL WASHER F436` `Product`</div>
<div class="progress-msg">Associate post `7/8 STRUCTURAL BEVEL WASHER F436` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `7/8 STRUCTURAL BEVEL WASHER F436` `Product` (ID: 710)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #29</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `7/8 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `7/8 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `7/8 STRUCTURAL BEVEL WASHER F436 HDGF436-7/8--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `7/8 STRUCTURAL BEVEL WASHER F436 HDG`</div>
<div class="progress-msg"><b>CREATING</b> `7/8 STRUCTURAL BEVEL WASHER F436 HDG` `Product`</div>
<div class="progress-msg">Associate post `7/8 STRUCTURAL BEVEL WASHER F436 HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `7/8 STRUCTURAL BEVEL WASHER F436 HDG` `Product` (ID: 711)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #30</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `7/8 BEVEL WASHER`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `7/8 BEVEL WASHER`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `7/8 BEVEL WASHERMALLEABLE-7/8--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `7/8 BEVEL WASHER`</div>
<div class="progress-msg"><b>CREATING</b> `7/8 BEVEL WASHER` `Product`</div>
<div class="progress-msg">Associate post `7/8 BEVEL WASHER` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `7/8 BEVEL WASHER` `Product` (ID: 712)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #31</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `7/8 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `7/8 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `7/8 BEVEL WASHER HDGMALLEABLE-7/8--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `7/8 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `7/8 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `7/8 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `7/8 BEVEL WASHER HDG` `Product` (ID: 713)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #32</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `7/8 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `7/8 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `7/8 BEVEL WASHER STAINLESS304-SS-7/8--STAINLESS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `7/8 BEVEL WASHER STAINLESS`</div>
<div class="progress-msg"><b>CREATING</b> `7/8 BEVEL WASHER STAINLESS` `Product`</div>
<div class="progress-msg">Associate post `7/8 BEVEL WASHER STAINLESS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `7/8 BEVEL WASHER STAINLESS` `Product` (ID: 714)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #33</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1 BEVEL WASHER STAINLESS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1 BEVEL WASHER STAINLESS304-SS-1--STAINLESS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1 BEVEL WASHER STAINLESS`</div>
<div class="progress-msg"><b>CREATING</b> `1 BEVEL WASHER STAINLESS` `Product`</div>
<div class="progress-msg">Associate post `1 BEVEL WASHER STAINLESS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1 BEVEL WASHER STAINLESS` `Product` (ID: 715)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #34</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1 BEVEL WASHER`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1 BEVEL WASHER`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1 BEVEL WASHERMALLEABLE-1--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1 BEVEL WASHER`</div>
<div class="progress-msg"><b>CREATING</b> `1 BEVEL WASHER` `Product`</div>
<div class="progress-msg">Associate post `1 BEVEL WASHER` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1 BEVEL WASHER` `Product` (ID: 716)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #35</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1 BEVEL WASHER HDGMALLEABLE-1--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `1 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `1 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1 BEVEL WASHER HDG` `Product` (ID: 717)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #36</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1 STRUCTURAL BEVEL WASHER F436 HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1 STRUCTURAL BEVEL WASHER F436 HDGF436-1--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1 STRUCTURAL BEVEL WASHER F436 HDG`</div>
<div class="progress-msg"><b>CREATING</b> `1 STRUCTURAL BEVEL WASHER F436 HDG` `Product`</div>
<div class="progress-msg">Associate post `1 STRUCTURAL BEVEL WASHER F436 HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1 STRUCTURAL BEVEL WASHER F436 HDG` `Product` (ID: 718)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #37</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1-1/8 BEVEL WASHER`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1-1/8 BEVEL WASHER`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1-1/8 BEVEL WASHERMALLEABLE-1-1/8--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1-1/8 BEVEL WASHER`</div>
<div class="progress-msg"><b>CREATING</b> `1-1/8 BEVEL WASHER` `Product`</div>
<div class="progress-msg">Associate post `1-1/8 BEVEL WASHER` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1-1/8 BEVEL WASHER` `Product` (ID: 719)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #38</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1-1/8 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1-1/8 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1-1/8 BEVEL WASHER HDGMALLEABLE-1-1/8--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1-1/8 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `1-1/8 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `1-1/8 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1-1/8 BEVEL WASHER HDG` `Product` (ID: 720)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #39</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1-1/4 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1-1/4 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1-1/4 BEVEL WASHER HDGMALLEABLE-1-1/4--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1-1/4 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `1-1/4 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `1-1/4 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1-1/4 BEVEL WASHER HDG` `Product` (ID: 721)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #40</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1-1/4 BEVEL WASHER`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1-1/4 BEVEL WASHER`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1-1/4 BEVEL WASHERMALLEABLE-1-1/4--PLAIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1-1/4 BEVEL WASHER`</div>
<div class="progress-msg"><b>CREATING</b> `1-1/4 BEVEL WASHER` `Product`</div>
<div class="progress-msg">Associate post `1-1/4 BEVEL WASHER` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1-1/4 BEVEL WASHER` `Product` (ID: 722)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #41</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1-1/2 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1-1/2 BEVEL WASHER HDG`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1-1/2 BEVEL WASHER HDGMALLEABLE-1-1/2--HOT DIP GALVANIZED`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `1-1/2 BEVEL WASHER HDG`</div>
<div class="progress-msg"><b>CREATING</b> `1-1/2 BEVEL WASHER HDG` `Product`</div>
<div class="progress-msg">Associate post `1-1/2 BEVEL WASHER HDG` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `BEVEL WASHERS`, duplicate detected. Importing Product to existing `BEVEL WASHERS` product_cat, ID 112, slug `bevel-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `1-1/2 BEVEL WASHER HDG` `Product` (ID: 723)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
