<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Tags` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product tags` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `4" 18LB BROWN CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `4" 18LB BROWN CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `4" 18LB BROWN CABLE TIES 100PKACTAL-04-18-1-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `4" 18LB BROWN CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `4" 18LB BROWN CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `4" 18LB BROWN CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg">- <b>CREATED</b>: Taxonomy attribute “pa_color” have been successfully created.</div>
<div class="progress-msg">- <b>CREATED</b>: Taxonomy attribute “pa_tensile-strength” have been successfully created.</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Creating parent Product product_cat ` Cable Ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `4" 18LB BROWN CABLE TIES 100PK` `Product` (ID: 4329)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `4" 18LB RED CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `4" 18LB RED CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `4" 18LB RED CABLE TIES 100PKACTAL-04-18-2-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `4" 18LB RED CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `4" 18LB RED CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `4" 18LB RED CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `4" 18LB RED CABLE TIES 100PK` `Product` (ID: 4330)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `4" 18LB ORANGE CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `4" 18LB ORANGE CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `4" 18LB ORANGE CABLE TIES 100PKACTAL-04-18-3-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `4" 18LB ORANGE CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `4" 18LB ORANGE CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `4" 18LB ORANGE CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `4" 18LB ORANGE CABLE TIES 100PK` `Product` (ID: 4331)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `4" 18LB YELLOW CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `4" 18LB YELLOW CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `4" 18LB YELLOW CABLE TIES 100PKACTAL-04-18-4-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `4" 18LB YELLOW CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `4" 18LB YELLOW CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `4" 18LB YELLOW CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `4" 18LB YELLOW CABLE TIES 100PK` `Product` (ID: 4332)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `4" 18LB GREEN CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `4" 18LB GREEN CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `4" 18LB GREEN CABLE TIES 100PKACTAL-04-18-5-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `4" 18LB GREEN CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `4" 18LB GREEN CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `4" 18LB GREEN CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `4" 18LB GREEN CABLE TIES 100PK` `Product` (ID: 4333)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `4" 18LB BLUE CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `4" 18LB BLUE CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `4" 18LB BLUE CABLE TIES 100PKACTAL-04-18-6-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `4" 18LB BLUE CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `4" 18LB BLUE CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `4" 18LB BLUE CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `4" 18LB BLUE CABLE TIES 100PK` `Product` (ID: 4334)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `4" 18LB PURPLE CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `4" 18LB PURPLE CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `4" 18LB PURPLE CABLE TIES 100PKACTAL-04-18-7-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `4" 18LB PURPLE CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `4" 18LB PURPLE CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `4" 18LB PURPLE CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `4" 18LB PURPLE CABLE TIES 100PK` `Product` (ID: 4335)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `4" 18LB GRAY CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `4" 18LB GRAY CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `4" 18LB GRAY CABLE TIES 100PKACTAL-04-18-8-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `4" 18LB GRAY CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `4" 18LB GRAY CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `4" 18LB GRAY CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `4" 18LB GRAY CABLE TIES 100PK` `Product` (ID: 4336)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `8" 18LB BLACK CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `8" 18LB BLACK CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `8" 18LB BLACK CABLE TIES 100PKACTAR-08-18-0-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `8" 18LB BLACK CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `8" 18LB BLACK CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `8" 18LB BLACK CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `8" 18LB BLACK CABLE TIES 100PK` `Product` (ID: 4337)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `4" 18LB BLACK CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `4" 18LB BLACK CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `4" 18LB BLACK CABLE TIES 100PKACTAR-04-18-0-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `4" 18LB BLACK CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `4" 18LB BLACK CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `4" 18LB BLACK CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `4" 18LB BLACK CABLE TIES 100PK` `Product` (ID: 4338)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `4" 18LB NATURAL CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `4" 18LB NATURAL CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `4" 18LB NATURAL CABLE TIES 100PKACTAR-04-18-9-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `4" 18LB NATURAL CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `4" 18LB NATURAL CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `4" 18LB NATURAL CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `4" 18LB NATURAL CABLE TIES 100PK` `Product` (ID: 4339)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `6" 18LB BLACK CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `6" 18LB BLACK CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `6" 18LB BLACK CABLE TIES 100PKACTAR-06-18-0-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `6" 18LB BLACK CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `6" 18LB BLACK CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `6" 18LB BLACK CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `6" 18LB BLACK CABLE TIES 100PK` `Product` (ID: 4340)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `8" 40LB BROWN CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `8" 40LB BROWN CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `8" 40LB BROWN CABLE TIES 100PKACTAL-08-40-1-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `8" 40LB BROWN CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `8" 40LB BROWN CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `8" 40LB BROWN CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `8" 40LB BROWN CABLE TIES 100PK` `Product` (ID: 4341)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `8" 40LB RED CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `8" 40LB RED CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `8" 40LB RED CABLE TIES 100PKACTAL-08-40-2-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `8" 40LB RED CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `8" 40LB RED CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `8" 40LB RED CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `8" 40LB RED CABLE TIES 100PK` `Product` (ID: 4342)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `8" 40LB ORANGE CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `8" 40LB ORANGE CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `8" 40LB ORANGE CABLE TIES 100PKACTAL-08-40-3-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `8" 40LB ORANGE CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `8" 40LB ORANGE CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `8" 40LB ORANGE CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `8" 40LB ORANGE CABLE TIES 100PK` `Product` (ID: 4343)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `8" 40LB YELLOW CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `8" 40LB YELLOW CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `8" 40LB YELLOW CABLE TIES 100PKACTAL-08-40-4-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `8" 40LB YELLOW CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `8" 40LB YELLOW CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `8" 40LB YELLOW CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `8" 40LB YELLOW CABLE TIES 100PK` `Product` (ID: 4344)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `8" 40LB GREEN CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `8" 40LB GREEN CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `8" 40LB GREEN CABLE TIES 100PKACTAL-08-40-5-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `8" 40LB GREEN CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `8" 40LB GREEN CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `8" 40LB GREEN CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `8" 40LB GREEN CABLE TIES 100PK` `Product` (ID: 4345)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `8" 40LB BLUE CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `8" 40LB BLUE CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `8" 40LB BLUE CABLE TIES 100PKACTAL-08-40-6-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `8" 40LB BLUE CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `8" 40LB BLUE CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `8" 40LB BLUE CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `8" 40LB BLUE CABLE TIES 100PK` `Product` (ID: 4346)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `8" 40LB PURPLE CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `8" 40LB PURPLE CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `8" 40LB PURPLE CABLE TIES 100PKACTAL-08-40-7-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `8" 40LB PURPLE CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `8" 40LB PURPLE CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `8" 40LB PURPLE CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `8" 40LB PURPLE CABLE TIES 100PK` `Product` (ID: 4347)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `8" 40LB GRAY CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `8" 40LB GRAY CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `8" 40LB GRAY CABLE TIES 100PKACTAL-08-40-8-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `8" 40LB GRAY CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `8" 40LB GRAY CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `8" 40LB GRAY CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `8" 40LB GRAY CABLE TIES 100PK` `Product` (ID: 4348)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `5" 40LB UV BLACK CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `5" 40LB UV BLACK CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5" 40LB UV BLACK CABLE TIES 100PKACTAR-05-40-0-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `5" 40LB UV BLACK CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `5" 40LB UV BLACK CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `5" 40LB UV BLACK CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `5" 40LB UV BLACK CABLE TIES 100PK` `Product` (ID: 4349)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `5" 40LB NATURAL CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `5" 40LB NATURAL CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5" 40LB NATURAL CABLE TIES 100PKACTAR-05-40-9-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `5" 40LB NATURAL CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `5" 40LB NATURAL CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `5" 40LB NATURAL CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `5" 40LB NATURAL CABLE TIES 100PK` `Product` (ID: 4350)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `8" 40LB BLACK CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `8" 40LB BLACK CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `8" 40LB BLACK CABLE TIES 100PKACTAR-08-40-0-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `8" 40LB BLACK CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `8" 40LB BLACK CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `8" 40LB BLACK CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `8" 40LB BLACK CABLE TIES 100PK` `Product` (ID: 4351)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #24</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `8" 40LB NATURAL CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `8" 40LB NATURAL CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `8" 40LB NATURAL CABLE TIES 100PKACTAR-08-40-9-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `8" 40LB NATURAL CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `8" 40LB NATURAL CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `8" 40LB NATURAL CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `8" 40LB NATURAL CABLE TIES 100PK` `Product` (ID: 4352)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #25</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `7" 50LB ORANGE CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `7" 50LB ORANGE CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `7" 50LB ORANGE CABLE TIES 100PKACTAL-07-50-3-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `7" 50LB ORANGE CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `7" 50LB ORANGE CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `7" 50LB ORANGE CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `7" 50LB ORANGE CABLE TIES 100PK` `Product` (ID: 4353)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #26</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `7" 50LB GREEN CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `7" 50LB GREEN CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `7" 50LB GREEN CABLE TIES 100PKACTAL-07-50-5-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `7" 50LB GREEN CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `7" 50LB GREEN CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `7" 50LB GREEN CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `7" 50LB GREEN CABLE TIES 100PK` `Product` (ID: 4354)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #27</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `7" 50LB BLUE CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `7" 50LB BLUE CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `7" 50LB BLUE CABLE TIES 100PKACTAL-07-50-6-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `7" 50LB BLUE CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `7" 50LB BLUE CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `7" 50LB BLUE CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `7" 50LB BLUE CABLE TIES 100PK` `Product` (ID: 4355)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #28</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `7" 50LB UV BLACK CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `7" 50LB UV BLACK CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `7" 50LB UV BLACK CABLE TIES 100PKACTAR-07-50-0-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `7" 50LB UV BLACK CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `7" 50LB UV BLACK CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `7" 50LB UV BLACK CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `7" 50LB UV BLACK CABLE TIES 100PK` `Product` (ID: 4356)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #29</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `7" 50LB NATURAL CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `7" 50LB NATURAL CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `7" 50LB NATURAL CABLE TIES 100PKACTAR-07-50-9-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `7" 50LB NATURAL CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `7" 50LB NATURAL CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `7" 50LB NATURAL CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `7" 50LB NATURAL CABLE TIES 100PK` `Product` (ID: 4357)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #30</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `11" 50LB UV BLACK CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `11" 50LB UV BLACK CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `11" 50LB UV BLACK CABLE TIES 100PKACTAR-11-50-0-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `11" 50LB UV BLACK CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `11" 50LB UV BLACK CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `11" 50LB UV BLACK CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `11" 50LB UV BLACK CABLE TIES 100PK` `Product` (ID: 4358)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #31</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `11" 50LB NATURAL CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `11" 50LB NATURAL CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `11" 50LB NATURAL CABLE TIES 100PKACTAR-11-50-9-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `11" 50LB NATURAL CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `11" 50LB NATURAL CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `11" 50LB NATURAL CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `11" 50LB NATURAL CABLE TIES 100PK` `Product` (ID: 4359)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #32</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `14" 50LB UV BLACK CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `14" 50LB UV BLACK CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `14" 50LB UV BLACK CABLE TIES 100PKACTAR-14-50-0-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `14" 50LB UV BLACK CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `14" 50LB UV BLACK CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `14" 50LB UV BLACK CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `14" 50LB UV BLACK CABLE TIES 100PK` `Product` (ID: 4360)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #33</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `14" 50LB NATURAL CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `14" 50LB NATURAL CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `14" 50LB NATURAL CABLE TIES 100PKACTAR-14-50-9-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `14" 50LB NATURAL CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `14" 50LB NATURAL CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `14" 50LB NATURAL CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `14" 50LB NATURAL CABLE TIES 100PK` `Product` (ID: 4361)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #34</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `8" 12LB BLACK HEAVY DUTY CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `8" 12LB BLACK HEAVY DUTY CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `8" 12LB BLACK HEAVY DUTY CABLE TIES 100PKACTAR-08-120-0-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `8" 12LB BLACK HEAVY DUTY CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `8" 12LB BLACK HEAVY DUTY CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `8" 12LB BLACK HEAVY DUTY CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `8" 12LB BLACK HEAVY DUTY CABLE TIES 100PK` `Product` (ID: 4362)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #35</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `14" 120LB UV BLACK CABLE TIES 100PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `14" 120LB UV BLACK CABLE TIES 100PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `14" 120LB UV BLACK CABLE TIES 100PKACTAR-14-120-0-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `14" 120LB UV BLACK CABLE TIES 100PK`</div>
<div class="progress-msg"><b>CREATING</b> `14" 120LB UV BLACK CABLE TIES 100PK` `Product`</div>
<div class="progress-msg">Associate post `14" 120LB UV BLACK CABLE TIES 100PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `14" 120LB UV BLACK CABLE TIES 100PK` `Product` (ID: 4363)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #36</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `14" 120LB UV BLACK CABLE TIES 50PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `14" 120LB UV BLACK CABLE TIES 50PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `14" 120LB UV BLACK CABLE TIES 50PKACTAR-14-120-0-L---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `14" 120LB UV BLACK CABLE TIES 50PK`</div>
<div class="progress-msg"><b>CREATING</b> `14" 120LB UV BLACK CABLE TIES 50PK` `Product`</div>
<div class="progress-msg">Associate post `14" 120LB UV BLACK CABLE TIES 50PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `14" 120LB UV BLACK CABLE TIES 50PK` `Product` (ID: 4364)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #37</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `14" 120LB NATURAL CABLE TIES 50PK`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `14" 120LB NATURAL CABLE TIES 50PK`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `14" 120LB NATURAL CABLE TIES 50PKACTAR-14-120-9-L---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `14" 120LB NATURAL CABLE TIES 50PK`</div>
<div class="progress-msg"><b>CREATING</b> `14" 120LB NATURAL CABLE TIES 50PK` `Product`</div>
<div class="progress-msg">Associate post `14" 120LB NATURAL CABLE TIES 50PK` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `14" 120LB NATURAL CABLE TIES 50PK` `Product` (ID: 4365)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #38</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `4" 18LB METAL DETECTABLE CABLE TIES`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `4" 18LB METAL DETECTABLE CABLE TIES`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `4" 18LB METAL DETECTABLE CABLE TIESACTAL-04-18-MD-22-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `4" 18LB METAL DETECTABLE CABLE TIES`</div>
<div class="progress-msg"><b>CREATING</b> `4" 18LB METAL DETECTABLE CABLE TIES` `Product`</div>
<div class="progress-msg">Associate post `4" 18LB METAL DETECTABLE CABLE TIES` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `4" 18LB METAL DETECTABLE CABLE TIES` `Product` (ID: 4366)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #39</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `7" 50LB BLACK TIES LOW PROFILE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `7" 50LB BLACK TIES LOW PROFILE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `7" 50LB BLACK TIES LOW PROFILEACTAL-07-50-LP-0-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `7" 50LB BLACK TIES LOW PROFILE`</div>
<div class="progress-msg"><b>CREATING</b> `7" 50LB BLACK TIES LOW PROFILE` `Product`</div>
<div class="progress-msg">Associate post `7" 50LB BLACK TIES LOW PROFILE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `7" 50LB BLACK TIES LOW PROFILE` `Product` (ID: 4367)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #40</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `7" 50LB METAL DETECTABLE CABLE TIES`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `7" 50LB METAL DETECTABLE CABLE TIES`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `7" 50LB METAL DETECTABLE CABLE TIESACTAL-07-50-MD-22-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `7" 50LB METAL DETECTABLE CABLE TIES`</div>
<div class="progress-msg"><b>CREATING</b> `7" 50LB METAL DETECTABLE CABLE TIES` `Product`</div>
<div class="progress-msg">Associate post `7" 50LB METAL DETECTABLE CABLE TIES` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `7" 50LB METAL DETECTABLE CABLE TIES` `Product` (ID: 4368)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #41</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `8" 50LB UV BLACK TIES PUSH MOUNT`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `8" 50LB UV BLACK TIES PUSH MOUNT`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `8" 50LB UV BLACK TIES PUSH MOUNTACTAL-07-50-PMW-0-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `8" 50LB UV BLACK TIES PUSH MOUNT`</div>
<div class="progress-msg"><b>CREATING</b> `8" 50LB UV BLACK TIES PUSH MOUNT` `Product`</div>
<div class="progress-msg">Associate post `8" 50LB UV BLACK TIES PUSH MOUNT` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `8" 50LB UV BLACK TIES PUSH MOUNT` `Product` (ID: 4369)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #42</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `8" 40LB METAL DETECTABLE CABLE TIES`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `8" 40LB METAL DETECTABLE CABLE TIES`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `8" 40LB METAL DETECTABLE CABLE TIESACTAL-08-40-MD-22-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `8" 40LB METAL DETECTABLE CABLE TIES`</div>
<div class="progress-msg"><b>CREATING</b> `8" 40LB METAL DETECTABLE CABLE TIES` `Product`</div>
<div class="progress-msg">Associate post `8" 40LB METAL DETECTABLE CABLE TIES` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `8" 40LB METAL DETECTABLE CABLE TIES` `Product` (ID: 4370)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #43</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `8" 50LB NATURAL TIES LOW PROFILE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `8" 50LB NATURAL TIES LOW PROFILE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `8" 50LB NATURAL TIES LOW PROFILEACTAL-07-50-LP-9-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `8" 50LB NATURAL TIES LOW PROFILE`</div>
<div class="progress-msg"><b>CREATING</b> `8" 50LB NATURAL TIES LOW PROFILE` `Product`</div>
<div class="progress-msg">Associate post `8" 50LB NATURAL TIES LOW PROFILE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `8" 50LB NATURAL TIES LOW PROFILE` `Product` (ID: 4371)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #44</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `8" 100LB 316-SS COATED CABLE TIES`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `8" 100LB 316-SS COATED CABLE TIES`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `8" 100LB 316-SS COATED CABLE TIESACTAL-08-100-SS-SP-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `8" 100LB 316-SS COATED CABLE TIES`</div>
<div class="progress-msg"><b>CREATING</b> `8" 100LB 316-SS COATED CABLE TIES` `Product`</div>
<div class="progress-msg">Associate post `8" 100LB 316-SS COATED CABLE TIES` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `8" 100LB 316-SS COATED CABLE TIES` `Product` (ID: 4372)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #45</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `11" 50LB BLACK TIES LOW PROFILE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `11" 50LB BLACK TIES LOW PROFILE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `11" 50LB BLACK TIES LOW PROFILEACTAL-11-50-LP-0-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `11" 50LB BLACK TIES LOW PROFILE`</div>
<div class="progress-msg"><b>CREATING</b> `11" 50LB BLACK TIES LOW PROFILE` `Product`</div>
<div class="progress-msg">Associate post `11" 50LB BLACK TIES LOW PROFILE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `11" 50LB BLACK TIES LOW PROFILE` `Product` (ID: 4373)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #46</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `11" 50LB NATURAL TIES LOW PROFILE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `11" 50LB NATURAL TIES LOW PROFILE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `11" 50LB NATURAL TIES LOW PROFILEACTAL-11-50-LP-9-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `11" 50LB NATURAL TIES LOW PROFILE`</div>
<div class="progress-msg"><b>CREATING</b> `11" 50LB NATURAL TIES LOW PROFILE` `Product`</div>
<div class="progress-msg">Associate post `11" 50LB NATURAL TIES LOW PROFILE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `11" 50LB NATURAL TIES LOW PROFILE` `Product` (ID: 4374)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #47</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `11" 50LB METAL DETECTABLE CABLE TIES`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `11" 50LB METAL DETECTABLE CABLE TIES`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `11" 50LB METAL DETECTABLE CABLE TIESACTAL-11-50-MD-22-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `11" 50LB METAL DETECTABLE CABLE TIES`</div>
<div class="progress-msg"><b>CREATING</b> `11" 50LB METAL DETECTABLE CABLE TIES` `Product`</div>
<div class="progress-msg">Associate post `11" 50LB METAL DETECTABLE CABLE TIES` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `11" 50LB METAL DETECTABLE CABLE TIES` `Product` (ID: 4375)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #48</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `14" 50LB BLACK TIES LOW PROFILE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `14" 50LB BLACK TIES LOW PROFILE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `14" 50LB BLACK TIES LOW PROFILEACTAL-14-50-LP-0-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `14" 50LB BLACK TIES LOW PROFILE`</div>
<div class="progress-msg"><b>CREATING</b> `14" 50LB BLACK TIES LOW PROFILE` `Product`</div>
<div class="progress-msg">Associate post `14" 50LB BLACK TIES LOW PROFILE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `14" 50LB BLACK TIES LOW PROFILE` `Product` (ID: 4376)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #49</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `14" 50LB NATURAL TIES LOW PROFILE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `14" 50LB NATURAL TIES LOW PROFILE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `14" 50LB NATURAL TIES LOW PROFILEACTAL-14-50-LP-9-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `14" 50LB NATURAL TIES LOW PROFILE`</div>
<div class="progress-msg"><b>CREATING</b> `14" 50LB NATURAL TIES LOW PROFILE` `Product`</div>
<div class="progress-msg">Associate post `14" 50LB NATURAL TIES LOW PROFILE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `14" 50LB NATURAL TIES LOW PROFILE` `Product` (ID: 4377)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #50</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `14" 50LB METAL DETECTABLE CABLE TIES`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `14" 50LB METAL DETECTABLE CABLE TIES`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `14" 50LB METAL DETECTABLE CABLE TIESACTAL-14-50-MD-22-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `14" 50LB METAL DETECTABLE CABLE TIES`</div>
<div class="progress-msg"><b>CREATING</b> `14" 50LB METAL DETECTABLE CABLE TIES` `Product`</div>
<div class="progress-msg">Associate post `14" 50LB METAL DETECTABLE CABLE TIES` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `14" 50LB METAL DETECTABLE CABLE TIES` `Product` (ID: 4378)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #51</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `14" 100LB 316-SS COATED CABLE TIES`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `14" 100LB 316-SS COATED CABLE TIES`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `14" 100LB 316-SS COATED CABLE TIESACTAL-14-100-SS-SP-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `14" 100LB 316-SS COATED CABLE TIES`</div>
<div class="progress-msg"><b>CREATING</b> `14" 100LB 316-SS COATED CABLE TIES` `Product`</div>
<div class="progress-msg">Associate post `14" 100LB 316-SS COATED CABLE TIES` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `14" 100LB 316-SS COATED CABLE TIES` `Product` (ID: 4379)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #52</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `14" 100LB 316-SS COATED CABLE TIES`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `14" 100LB 316-SS COATED CABLE TIES`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `14" 100LB 316-SS COATED CABLE TIESACTAP-14-100-SS-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `14" 100LB 316-SS COATED CABLE TIES`</div>
<div class="progress-msg"><b>CREATING</b> `14" 100LB 316-SS COATED CABLE TIES` `Product`</div>
<div class="progress-msg">Associate post `14" 100LB 316-SS COATED CABLE TIES` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `14" 100LB 316-SS COATED CABLE TIES` `Product` (ID: 4380)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #53</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `14" 100LB 316-SS COATED CABLE TIE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `14" 100LB 316-SS COATED CABLE TIE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `14" 100LB 316-SS COATED CABLE TIEACTAR14-100-SS-CT-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `14" 100LB 316-SS COATED CABLE TIE`</div>
<div class="progress-msg"><b>CREATING</b> `14" 100LB 316-SS COATED CABLE TIE` `Product`</div>
<div class="progress-msg">Associate post `14" 100LB 316-SS COATED CABLE TIE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `14" 100LB 316-SS COATED CABLE TIE` `Product` (ID: 4381)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #54</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `14" 120LB METAL DETECTABLE CABLE TIES`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `14" 120LB METAL DETECTABLE CABLE TIES`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `14" 120LB METAL DETECTABLE CABLE TIESACTAL-14-120-MD-22-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `14" 120LB METAL DETECTABLE CABLE TIES`</div>
<div class="progress-msg"><b>CREATING</b> `14" 120LB METAL DETECTABLE CABLE TIES` `Product`</div>
<div class="progress-msg">Associate post `14" 120LB METAL DETECTABLE CABLE TIES` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `14" 120LB METAL DETECTABLE CABLE TIES` `Product` (ID: 4382)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #55</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `14" 250LB 316-SS COATED CABLE TIE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `14" 250LB 316-SS COATED CABLE TIE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `14" 250LB 316-SS COATED CABLE TIEACTAR14-250-SS-CT-C---`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `14" 250LB 316-SS COATED CABLE TIE`</div>
<div class="progress-msg"><b>CREATING</b> `14" 250LB 316-SS COATED CABLE TIE` `Product`</div>
<div class="progress-msg">Associate post `14" 250LB 316-SS COATED CABLE TIE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fasteners`, duplicate detected. Importing Product to existing `Fasteners` product_cat, ID 6, slug `fasteners` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cable Ties`, duplicate detected. Importing Product to existing `Cable Ties` product_cat, ID 286, slug `cable-ties` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `14" 250LB 316-SS COATED CABLE TIE` `Product` (ID: 4383)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
